<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>About page</title>
  </head>
  <body>
    <div id="content">
      <h1>Welcome to about page</h1>
      <p>
        At CM, we believe staying connected shouldn't be complicated. 
        <br>Our platform is designed to help individuals, teams, and businesses manage their contacts effortlessly — whether you're tracking leads,
        <br> organizing personal networks, or syncing contacts across devices.
      </p>
    </div>
    <script>
      console.log("about page");
    </script>
    <script>
      console.log("new one  page");
    </script>
  </body>
</html>
