<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Contact us page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Contact page</h1>
        <p>Anmol Tiwari </p>
        <p>9580881365</p>
        <p>tanmol927@gmail.com</p>
        <a href="https://www.linkedin.com/in/anmol-tiwari-0bb787278?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Linkedin</a>
    </div>
    <script>
        console.log("contact page");
    </script>
</body>
</html>